.title {
    font-size: 10rem;
    width: 50%;
    color: #fff;
    padding: 25px 35px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    box-shadow: 2px 2px 15px purple;
    margin: 15px auto;
    background: rgb(91,0,158);
    background: linear-gradient(90deg, rgba(91,0,158,1) 0%, rgba(139,0,255,1) 16%, rgba(142,7,147,0.9486169467787114) 100%);
}