/* normalizing gaps and setting border-box sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* setting root font size to 10px (if the user is using default font size which is 16px) -> 1rem = 10px */
:root, html, body {
    font-size: 62.5%;
}